{% extends './base.html' %}

{% block title %} 
home page 
{% endblock title %} 

{% block content %} 
<div class="container">
    <h2 class="text-center pt-5 pb-4">Enter your role number.</h2>
    <form method="get" action="/student" class="d-flex flex-row justify-content-center align-items-center">
        {% csrf_token %}
        <input class="form-control w-50 m-2" type="text" name="firstName" id="firstName" placeholder="enter first name..." required>
        <button class="btn btn-primary px-4" type="submit">Search</button>
    </form>

    <div class="pt-3">
        <p class="text-center">If you haven't uploaded your details then <a href="/addStudent">click here</a></p>
    </div>
</div>
{% endblock content %}
